<body>

  <div class="contact1">
    <div class="container-contact1">
      <div class="contact1-pic js-tilt" data-tilt>
        <img id="logoContacto" class="img-fluid" src="../../assets/img/logo_small.png">

        <div id="personal">



          <div class="imglist">
            <ul>
              <li>
                <a>Porteliña 34 (Cristiñade)- Ponteareas, 36863-Pontevedra</a>
              </li>
              <li>
                <a>670 859 909 - 627 059 985</a>
              </li>
              <li>
                <a>contacto@wearedogfriendly.com</a>
              </li>
            </ul>
          </div>


        </div>
      </div>

      <form class="contact1-form validate-form" (ngSubmit)="contactForm(form.value)" #form="ngForm">
        <span class="contact1-form-title">
          ¡Cuentanos algo!
        </span>

        <div class="wrap-input1 validate-input">
          <input class="input1" type="text" name="nombre" ngModel placeholder="Nombre">
          <span class="shadow-input1"></span>
        </div>

        <div class="wrap-input1 validate-input">
          <input class="input1" type="text" name="email" ngModel placeholder="Email">
          <span class="shadow-input1"></span>
        </div>

        <div class="wrap-input1 validate-input">
          <input class="input1" type="text" name="asunto" ngModel placeholder="Asunto">
          <span class="shadow-input1"></span>
        </div>

        <div class="wrap-input1 validate-input">
          <textarea class="input1" name="mensaje" ngModel placeholder="¿Qué quieres contarnos?"></textarea>
          <span class="shadow-input1"></span>
        </div>

        <div class="container-contact1-form-btn">
          <button class="contact1-form-btn" type="submit">
            
              Enviar email
            
          </button>
        </div>
      </form>
    </div>
  </div>



</body>