/* You can add global styles to this file, and also import other style files */

/**************************/
/*Generales*/
/**************************/
h1{
    color: #33354A; 
}

h2{
    color: #33354a;
}

h3{
    color: #20c1bd;  
}
body{
    color: #33354A;
}

/**************************/
/*Cabecera*/
/**************************/
#fondo{
    text-align: center;
    width: 100%;
}
#fondo img{
       width: 100%;
}

.menuButtons{

text-align: center;
color: rgb(72, 74, 102);
font-weight: 600;
}
.menuButtons p{
    background: #fbffa8;
    border-radius: 20px;
    padding-right: 6px;
    padding-left: 6px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    }

.logo{
    
    margin-left: 15px;
    }

.linea{
border-right: #dfe8e8 1px solid; 
}

/**************************/
/*hotel-list.component*/
/**************************/

.listCards{
    margin-bottom:30px;
    margin-left: 20px;
    margin-right: 250px;
    padding-bottom:10px; 
}


.listCards h4{
    text-align: left;
    background-color: #FBFFA8;
    color:#33354A;
}
.listCards a{
    margin-right: 5px;
    background-color: #20c1BD;
    color:#ffffff;

 
}
#buttonVerPrecio{
    background-color:#20c1bd;
    color:#ffffff;
    font-size:large;
    line-height: 40px;

}

#precioButton{
    width: 150px;
    padding:10px 5px 10px 7px;
    background-color: #dcf7f1;
    color:#20c1bd;
    float: right;
    margin-right: 30px;
    font-size: x-small
    
}
#precioButton h5{
    text-align: center;
}

/**************************/
/*hotel-detail.component*/
/**************************/
#volverButton{
    margin-left: 40px;

}

