/* You can add global styles to this file, and also import other style files */

/**************************/
/*Generales*/
/**************************/
h1{
    color: #33354A; 
}

h2{
    color: #33354a;
}

h3{
    color: #20c1bd;  
}
body{
    color: #33354A;
}

/**************************/
/*Cabecera*/
/**************************/
#fondo{
    text-align: center;
    width: 100%;
}
#fondo img{
       width: 100%;
}

.menuButtons{

text-align: center;
color: rgb(72, 74, 102);
font-weight: 600;
}
.menuButtons p{
    background: #fdffd9;
    border-radius: 20px;
    padding-right: 6px;
    padding-left: 6px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    }

.logo{
    
    margin-left: 15px;
    }

.linea{
border-right: #dfe8e8 1px solid; 
}

#navbar{
  background-color: #33354A;
  margin-bottom:40px;
}


/****************************/
/*Footer*/
/*****************************/
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex-grow: 1;
}


.footer {
  background-color: #33354A;
  color:#ffffff;
  padding-top:15px;
  padding-bottom:15px;
}

.footer p{
  color:#ffffff;
}

.footer .iconos{
  margin: 30px 40px 10px 10px;
}
.footer .contact{
  margin-right: 5px;
}


/**************************/
/*hotel-list.component*/
/**************************/

.listCards{
 
    margin-bottom:20px; 
}


.listCards h4{
    text-align: left;
    background-color: #FBFFA8;
    color:#33354A;
    height: 60px;
    padding-left: 20px;
    padding-top: 13px;
}
.listCards a{
    margin-right: 5px;
    background-color: #20c1BD;
    color:#ffffff;
}
.listCards p{
 margin-top:10px;
  
}

#buttonVerPrecio{
    background-color:#20c1bd;
    color:#ffffff;
    font-size:large;
    line-height: 40px;
    margin-left:10px;
    width: 100%;
    text-align: center;
    margin-right: 30px;
  

}

#precioButton{
    width: 150px;
    padding:10px 5px 10px 7px;
    background-color: #dcf7f1;
    color:#20c1bd;
    float: right;
    margin-right: 30px;
    font-size: x-small
    
}

.buttonsUser{
  margin-top:5px;
  margin-bottom: 5px;
}

#precioButton h5{
    text-align: center;
}

/**************************/
/*hotel-detail.component*/
/**************************/
#volverButton{
    margin-left: 40px;

}

/**************************/
/*Form add hotel*/
/**************************/
#containerForm{
  margin-top:60px;
  background-color: #e4f8f3;
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 45px 20px 20px 20px;

}
/**************************/
/*login*/
/**************************/


#formLogin {
    float: relative;
    width: 450px;
    height: 350px;
    margin: 50px auto;
    text-align: center;
    background: #dcf5f0;
    padding: 40px;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
    -webkit-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
    -moz-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
    box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
    box-shadow: 20px 20px 20px;
}

#formLogin h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 25px;
    color: #7f8c8d;
    text-shadow: 1px 1px 0px white;
}

#formLogin input {
    display: block;
    width: 95%;
    padding: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 0;
    margin-bottom: 12px;
    color: #33354a;
    font-weight: 600;
    font-size: 16px;
    background-color: #fdffd7;
}

#formLogin input:focus {
    background: FBFFA8;
}


#formLogin li {
    position: absolute;
    right: 40px;
    bottom: 62px;
    list-style: none;
}

#formLogin a,
a:visited {
    text-decoration: none;
    color: #33354a;
    font-weight: 400;
    text-shadow: 1px 1px 0px white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#imgLogo {
    position: relative;
    float: left;
    width: 450px;
    margin-top: 40px;
}

#formLogin .button {
    position: relative;
    float: left;
    width: 145px;
    margin-top: 10px;
    background: #20c1bd;
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 1px 0px #74dac6;
    box-shadow: 0px 3px 0px #74dac6;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#formLogin a {
padding-top:400px;
}


/*[ Responsive ]*/

@media (max-width: 1200px) {
  #formLogin {
    width: 50%;
    margin: 10% auto;
  }

  #formLogin input {
    width: 95%;
  }
}

@media (max-width: 992px) {
  #formLogin {
    width: 50%;
    margin: 10% auto;
  }

  #formLogin input {
    width: 95%;
  }


}

@media (max-width: 768px) {
  #formLogin {
    width: 60%;
    margin: 10% auto;
  }

  #formLogin input {
    width: 95%;
  }
}

@media (max-width: 576px) {
  #formLogin {
    width: 70%;
    margin: 10% auto;
    height: 450px;
  }

  #formLogin input {
    width: 95%;
  }
  
}

/**************************/
/*Info*/
/**************************/

#containerInfo{
    margin: 20px 20px 20px 20px;
    width: 900px;
    background-color: #dcf5f1;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
}

#containerInfo img{
     margin-top: 20px;
    
}
#containerInfo p{
  margin-top: 20px;
 
}
#firstParagraph{
margin-top:40px;
}

@media (max-width: 1200px) {
  #containerInfo {
    width: 70%;
    margin: 10% auto;
    margin: 20px 20px 20px 20px;
    padding: 30px 30px 30px 30px;
  }

}

@media (max-width: 992px) {
  #containerInfo {
    width: 70%;
    margin: 20px 20px 20px 20px;
    padding: 30px 30px 30px 30px;
  }
 }

@media (max-width: 768px) {
  #containerInfo {
    width: 80%;
    margin: 20px 20px 20px 20px;
    padding: 30px 30px 30px 30px;
  }

}

@media (max-width: 576px) {
  #containerInfo {
    width: 95%;
    margin: 20px 20px 20px 20px;
    padding: 30px 30px 30px 30px;
    }
  }
/**************************/
/*Contact*/
/**************************/

/*---------------------------------------------*/
a {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  background: #e7e8e9;


  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 900px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

margin-left: 40px;
margin-right: 40px;

padding-left: 40px;
padding-right: 40px;
padding-top: 40px;
padding-bottom: 40px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
  width: 296px;
}


#personal{
    background-color:#dff7f2;
    width: 450px;
    border-radius:20px; 
}

#logoContacto{
    text-align: center;
    margin-bottom: 20px;
}



/*------------------------------------------------------------------*/
.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #33354A;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #33354A;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color:#20c1bd;
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #74dac6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #20c1bd;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}




/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 10%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 900px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
  
}


/* css lista info personal  -------------- */
.imglist ul{
	margin:0px;
}
.imglist li{
  font-size: medium;
	margin-left:25px;
	padding:0px;
	list-style:url(assets/img/print_small.png);
	line-height:30px;
}
.imglist li a:link, .imglist li a:visited{
	color:#1e598e;
  text-decoration:none;
  font-size: medium;

}
.imglist li a:hover{
	color:#0A7CAF;
	padding:2px;
    -moz-box-shadow: 0px 0px 12px #9e9ea3;
    -webkit-box-shadow: 0px 0px 12px #9e9ea3;
    box-shadow: 0px 0px 12px #9e9ea3;
    border:none 0px #000000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

@media (max-width: 1000px) {
  .imglist {
   width: 70%;
  }
  #personal{
    display: none;
  }
}



/* css lista info personal  -------------- */





/**************************/
/*LoginForm*/
/**************************/

/*---------------------------------------------*/





/*---------------------------------------------*/




/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  background: #e7e8e9;


  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact11 {
  width: 800px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;

margin-left: 40px;
margin-right: 40px;

padding-left: 40px;
padding-right: 40px;
padding-top: 40px;
padding-bottom: 40px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
  width: 296px;
}


#personal{
    background-color:#eefbf8;
    width: 400px;
    border-radius: 30px;
    padding-top:10px;
    padding-bottom:10px;
   
}

#logoContacto{
    text-align: center;
    margin-bottom: 20px;
}


/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #33354A;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #33354A;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color:#20c1bd;
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #74dac6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #20c1bd;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}




/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}