<h2 class="text-center">{{title}}</h2>
<div *ngFor="let hotel of hotels;">

  <div class="card listCards">
    <img class="card-img-top img-fluid" src="http://pix10.agoda.net/hotelImages/115/1157073/1157073_16062412150044053329.jpg?s=1024x768"
      alt="Hotel image cap">
    <div class="card-body">
      <h4 class="card-title">{{hotel.name}}</h4>
         <a [routerLink]="['/hotel',hotel._id]" class="btn btn-primary">Ver detalles</a>
         <a class="btn btn-primary" [routerLink]="['/edit-hotel',hotel._id]"> Editar </a>
         <a (click)="deleteHotel(hotel._id)" class="btn btn-primary">Borrar</a>
    </div>
  </div>



</div>