<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

</head>

<body>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mr-auto">
                    <img class="img-fluid" src="../../assets/img/footer/logo_footer.png">
                </div>
                <div class="col-md-4">
                    <table border="0" cellpadding="0" cellspacing="0" width="100">
                        <tr>
                            <td>
                                <img class="img-fluid iconos" src="../../assets/img/footer/facebook.png">
                            </td>
                            <td>
                                <img class="img-fluid iconos" src="../../assets/img/footer/insta.png">
                            </td>
                            <td>
                                <img class="img-fluid iconos" src="../../assets/img/footer/google.png">
                            </td>
                            <td>
                                <img class="img-fluid iconos" src="../../assets/img/footer/twitter.png">
                            </td>

                        </tr>
                    </table>

                </div>
                <div class="col-md-5 ml-auto">
                    <p>
                        <img class="contact" src="../../assets/img/footer/adress.png">Porteliña n34 (Cristiñade) Ponteareas - 36863 Pontevedra</p>
                    <p>
                        <img class="contact" src="../../assets/img/footer/phone.png">670 859 909 - 627 059 985</p>
                    <p>
                        <img class="contact" src="../../assets/img/footer/email.png">contacto@wearedogfriendly.com</p>

                </div>
            </div>
        </div>
    </footer>
</body>

</html>