

<div id="containerInfo" class="row mx-auto">
    <div class="col-sm-8">
            <h2 class="text-center">{{title}}</h2>
            <hr>
         
        <p id="firstParagraph">
        Os presento a Guadalupe y Randulfo. Son el el 50% de los miembros de mi familia y están compuestos por 55kg y 60kg respectivamente
        de amor, pelos y mimos. Para nosotros es un tema complicado plantearnos salir con nuestros dos peludos a la vez. Son
        grandes, traviesos y a la gente pueden asustarle aunque sean dos cachos de pan. Ni que decir tiene que hacer una escapada
        de fin de semana con ellos se ha vuelto una tarea imposible.
    </p>
    
    <p>
        Cansados de tener que abandonar a nuestros mejores amigos a los cuidados de sus padrinos cada vez que queremos hacer una excursión
        familiar, que de familiar tiene poco si dejamos al 50% de la familia atrás, decidimos poner nuestro granito de arena
        para que gente con hogares como el nuestro lo tengan un poquito más fácil y vean que sí hay alternativas de ocio con
        peludos, y por suerte cada vez más.
    </p>
    
    <p>
        Y ahora que ya conoces un poquito nuestra historia te invito a que te des una vuelta por nuestra web y busques las mejores
        actividades de ocio con perretes que hay cerca de tu ciudad! 
        Y si tienes un local dofFriendly, regístrate y anúnciate gratis. La gente
        estará encantada de ir a visitarte con sus peludos!!
    </p>
    
</div>
    <div class="col-sm-4">
        <img class="img-fluid img-thumbnail" src="../../assets/img/info/perro1.jpg" >
        <img class="img-fluid img-thumbnail" src="../../assets/img/info/perro2.jpg" >
        <a (click)="mostrar()" href="./"><img src="../../assets/img/info/back.png" ></a>
        <br>
        Volver
    </div>
</div>






